.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #706897;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#background-img {
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0px;
  /* width: 100vw; */
  z-index: -10;
  height: 100vh;
  width: 100vw;
}

#signup-img {
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -20;
  height: 100vh;
  width: 100vw;
}

#profile-img {
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  /* width: 100vw; */
  z-index: -20;
  height: 100vh;
  width: 100vw;
}

#cocktails-img {
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  /* width: 100vw; */
  z-index: -20;
  height: 100vh;
  width: 100vw;
}

#landscape-img {
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: auto;
  right: 0;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -20;
  min-width: 300px;
  max-height: 2000px;
}



.navbar {
  position: absolute;
  background-color: #E7D9EA;
  opacity: 85%;
  width: 100%;
  height: 60px;
  left: 0px;
  top: 0px;
  display: flex;
}

.navbar-links {
  display: flex;
  margin-left: 68vw;
  margin-top: 10px;
}

.navbar-links-logout {
  display: flex;
  justify-content: right;
  margin-left: 81vw;
  margin-top: 10px;
}

.loggedinicon{
  margin-left: 30px;
  width: 80px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  height: 37px;
  /* left: 92%; */
  /* top: 10px; */
  color: white;
  background: #a6d6d6;
  border-radius: 24px;
  cursor: pointer;
}

.loggedinicon:hover{
  color: black;
}


#logo {
  position: absolute;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  color: #706897;
  font-size: larger;
  font-weight: bolder;
  height: 40px;
  left: 3%;
  top: 10px;
  transition: 0.1s;
}

#logo:hover{
color: #2bc6ff;
}

.home-text {
  position: absolute;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: #706897;
  width: 80px;
  height: 40px;
  left: 225px;
  top: 10px;
  background: #E5E5E5;
  border-radius: 24px;
  transition: 0.1s;
}

.home-text:hover{
background:#a6dcef;
}

.loginicon {
  margin-right: 20px;
  width: 80px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  height: 38px;
  color: white;
  /* left: 85%; */
  /* top: 10px; */
  background:#F3C397
  ;
  border-radius: 24px;
  cursor: pointer;
}

.loginicon:hover{
  color: white;
}

.logout-btn {
  display: flex;
  /* position: absolute; */
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-weight: bolder;
  color: #706897;
  background: #E5E5E5;
  width: 80px;
  height: 40px;
  /* left: 87%; */
  /* top: 10px; */
  border-radius: 24px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.logout-btn:hover{
  color: black;
}

.profile-nav {
  /* position: absolute; */
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 35px;
  color: #706897;
  width: 80px;
  height: 40px;
  /* left: 93%; */
  /* top: 10px; */
  cursor: pointer;
}

.profile:hover{
  color:#2bc6ff;
}

.favorite-nav {
  position: absolute;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: #706897;
  width: 100px;
  height: 40px;
  left: 76%;
  top: 10px;
  background: #E5E5E5;
  border-radius: 24px;
  cursor: pointer;
}

.favorite:hover{
  background: #a6dcef;
}

.categories-nav{
  /* position: absolute; */
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: #706897;
  width: 120px;
  height: 40px;
  margin-right: 15px;
  /* left: 67%; */
  /* top: 10px; */
  background: #E5E5E5;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.1s;
}

.categories-btn:hover{
  background: #a6dcef;
}
.cocktails-nav{
  /* position: absolute; */
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: #706897;
  width: 120px;
  height: 40px;
  /* left: 58%; */
  /* top: 10px; */
  background: #E5E5E5;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.1s;
}

.cocktails-btn:hover{
  background: #a6dcef;
}

.home-page {
  color: #542e71;
  padding: 37rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.login-container{
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.login-form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-box{
  margin-top: 7vh;

  opacity:85%;
  background: white;
  padding-right: 80px;
  padding-left: 80px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
}

.form-box.solid{
  opacity:200%;
}

.login-text{
  width: 100%;
  border-bottom: 2px solid black;
  line-height: 30px;
  width: 100%;
  font-weight: bolder;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5vh;
}

label {
  width: 100%;
  text-align: center;
}

.login-box{
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 2px;
  padding-left: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 5px;
  font-size: 11pt;
  background: transparent;
  transition: 1s;
  /* width: 100%; */
  outline: none;
}

.login-btn{
  width: 75%;
  justify-content: center;
  align-items: center;
  background-color: #706897;
  color: white;
  margin-top: 5px;
  border-radius: 20px;
  border: none;
  /* margin-left: 5px; */
  font-size: 15pt;
  font-weight: 700;
  transition: 1s;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-btn:hover{
  transform: scale(1.03);
  letter-spacing: 4px;
  background-color: #7FFFD4;
  color: #1E90FF;
}


.signup-form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signup-box{
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 2px;
  /* padding-left: 10px; */
  letter-spacing: 1px;
  font-weight: 600;
  margin: 5px;
  font-size: 11pt;
  background: transparent;
  transition: 1s;
  outline: none;
}

input.signup-box {
  width: 250px;
  color: #706897;
}

input.cocktail-box {
  width: 240px;
  color: #706897;
}

.signup-btn{
  width: 75%;
  justify-content: center;
  align-items: center;
  background-color: #706897;
  color: white;
  margin-top: 5px;
  border-radius: 20px;
  border: none;
  font-size: 15pt;
  font-weight: 700;
  transition: 1s;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.signup-btn:hover{
  transform: scale(1.03);
  letter-spacing: 4px;
  color: #E7D9EA;
}

#signup-text{
  width: 100%;
  color: #706897;
  border-bottom: 2px solid #706897;
  line-height: 30px;
  width: 100%;
  font-weight: bolder;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4vh;
  padding-bottom: 1vh;
}

.cocktail-box{
  width: 100%;
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 2px;
  padding-left: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 5px;
  font-size: 11pt;
  background: transparent;
  transition: 1s;
  outline: none;
}

.cocktails-container{
  padding: 4rem;
  /* display: flex; */
  /* justify-items: center; */
}

.cocktails-container h1{
  color: #F3C397;
  font-size: 50px;
}

.cocktail-btn{
  width: 17%;
  justify-content: center;
  align-items: center;
  background-color: #F3C397;
  opacity: 0.7;
  color: #706897;
  margin-top: 5px;
  border-radius: 20px;
  border: none;
  font-size: 15pt;
  font-weight: 700;
  transition: 1s;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 7px;
}

.search-sort-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.search-ingredient {
  padding: 7px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.search {
  margin-top: 20px;
}

.search-category {
  padding: 7px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}

.search-button {
  padding: 7px;
  border-radius: 5px;
  border: none;
  /* font-size: 15px; */
}

.sort-wrapper {
  margin-top: 20px;
}

.sort {
  padding: 6px;
  border-radius: 5px;
  border: none;
  margin-right: 40px;
  /* margin-top: 30px; */
}

.cocktail {
  display: grid;
  margin: 3px;
  margin-left: -10px;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 5fr));
  grid-gap: 1.5rem;
  text-align: center; 
}

.categories-container{
  padding: 4rem;
}

.categories-container h2{
  color: #706897;
  font-size: 40px;
}

.category {
  display: grid;
  padding: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 5fr));
  grid-gap: 2rem;
  
}

.category-details{
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-details-info {
  color: #645b92;
}

.drinks-list {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.drinks-list img {
  width: 350px;
  height: 300px;
  margin: 10px;
  border-radius: 15px;
  object-fit: cover;
}

.drinks-list-info p {
  color: #645b92;
  /* background: #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: center; */
  font-weight: bolder;
}

.category-card{
  display: flex;
  flex-direction: column;
  background-color: white;
  max-height: 100%;
  width: 270px;
  box-shadow: 0px 1px 5px #555;
  border-radius: 20px;
  overflow: hidden;
  opacity: 0.8;
  justify-content: center;
}

.category-card h3  {
  margin-bottom: 20px;
  margin-top: 80px;
}

.category-card p {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  overflow-y: scroll;
  height: 120px;
}

.category-card.view-more-btn {
  padding-bottom: 10px;
  margin-top: -5px;
}

.image-category {
  height: 250px;
  width: 150px;
  border-radius: 20px;
  margin: -5px -20px;
  object-fit: cover;
  padding: 10px;
  justify-content: center;
}

.image-category img{
  height: 250px;
  width: 230px;
  border-radius: 20px;
  margin: 30px;
  object-fit: cover;
  padding: 0px;
  
}
.image-category p{
  margin-top: -10px;
  margin-left: 60px;
  margin-right: -60px;
  justify-content: center;
}

.image-category img:hover{
  width: 130%;
}

.image-category img:hover .image-category{
  height: 180px;
}


.view-more-btn, .view-more-btn:link, .view-more-btn:visited {
  text-decoration: none;
  padding: 13px 0;
  border: none;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
  transition: all .2s ease-in-out;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.view-more-btn:hover {
  background: rgb(88, 188, 242);
  /* border: none; */
  color: #fefefe;
  /* border-radius: 20px; */
}



.like {
  color: rgb(241, 71, 19);
  transition: color 300ms;
}

.like:hover {
  color: rgb(241, 71, 19);
}

.like:active {
  color: rgb(253, 159, 124);
}

.like:focus {
  outline: none;
}

.image-cocktail{
  height: 250px;
  width: 250px;
  border-radius: 20px;
  margin-top: 20px;
  /* margin: 10px -17px; */
  object-fit: cover;
  padding: 0px;
  justify-content: center;
}

.image-cocktail img{
  height: 250px;
  width: 250px;
  border-radius: 20px;
  margin-top: 10px;
  object-fit: cover;
}

.image-container img:hover{
  width: 130%;
}

.image-container img:hover .image-container{
  height: 200px;
}

.cocktail-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin: 5px;
  background-color: white;
  max-height: 100%;
  box-shadow: 0px 1px 5px #555;
  border-radius: 20px;
  overflow: hidden;
  opacity: 0.8;
  justify-content: center;
  /* padding: 5px; */
}

.cocktail-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.ingredients-list {
  list-style: none;
}

.cocktail-card span {
  font-size: medium;
  width: 100%;
  height: 100px;
  overflow-y: scroll;
  margin-bottom: 0px;
}

.cocktail-card p {
  justify-content: center;
  font-size: medium;
  width: 250px;
  height: 90px;
  overflow-y: scroll;
  margin: 5 px 10px;
}

.cocktail-card h5 {
  margin: 5px;
  margin-top: 10px
}

.cocktail-card span::-webkit-scrollbar{
  width:0px;
}

.cocktail-detail {
  display: grid;
  grid-template: 1fr/ 27vw 20vw 1fr;
  margin-top: 80px;
  grid-column-gap: 50px;
}

.cocktail-detail-1 {
  margin-left: 50px;
  grid-area: 1/1/-1/2;
}

.cocktail-detail-1 img {
  width: 70%;
  /* max-height: 270px; */
  border-radius: 15px;
}

.cocktail-detail-2 {
  grid-area: 1/2/-1/3;
}

.cocktail-detail-1-category {
  font-weight: 600;
}

.cocktail-detail-2 img {
  width: 70%;
  border-radius: 15px;
}

.follow-btn {
  color: #706897;
  background-color: #E7D9EA;
  width: 130px;
  border-radius: 20px;
  padding: 7px;
  font-weight: 600;
  margin: 5px;
  margin-top: 10px;
  opacity: 0.8;
  cursor: pointer;
}

.cocktail-detail-3 {
  grid-area: 1/3/-1/-1;
  text-align: center;
  display: grid;
  grid-template: repeat(3, auto)/1fr;
  grid-row-gap: 0px;
} 

.cocktail-detail-3-header {
  margin-top: -20px;
  margin-bottom: -20px;
}

.cocktail-detail-3-photo {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  grid-column-gap: 0px;
}

.photo-carousel img {
  width: 390px;
  height: auto;
  object-fit: scale-down;
  border-radius: 15px;
}

.profile-container {
  display: grid;
  grid-template: min-content 1fr/ 35vw 35vw 20vw;
  grid-gap: 50px;
  padding-top: 4em;
  /* justify-items: center; */
  /* align-items: center; */
}

.edit-btn {
  color: #706897;
  background-color: #E7D9EA;
  width: 70px;
  border-radius: 20px;
  padding: 7px;
  font-weight: 600;
  margin: 5px;
  opacity: 0.8;
  cursor: pointer;
}

.cocktail-edit {
  padding: 4rem;
  display: flex;
  justify-content: center;
}

.cocktail-edit-form-box {
  margin-top: 7vh;
  width: 35vw;
  opacity:85%;
  background: white;
  padding-right: 80px;
  padding-left: 80px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.2);
}

.cocktail-edit-btn{
  width: 37%;
  justify-content: center;
  align-items: center;
  background-color: #F3C397;
  opacity: 0.7;
  color: #706897;
  margin-top: 5px;
  border-radius: 20px;
  border: none;
  font-size: 15pt;
  font-weight: 700;
  transition: 1s;
  outline: none;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 7px;
}

.delete-btn {
  color: #706897;
  background-color: #E7D9EA;
  width: 70px;
  border-radius: 20px;
  padding: 7px;
  font-weight: 600;
  margin: 5px;
  margin-top: 10px;
  opacity: 0.8;
  cursor: pointer;
}

.profile-item-1 {
  grid-area: 2/1/-1/2;
  /* justify-self: center; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.cocktail-creations {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
} 

.cocktail-list {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.cocktail-item a {
  text-decoration: none;
}

.profile-item-1-title {
  /* display: flex; */
  color: #706897;
  background-color: #E7D9EA;
  /* width: 150px; */
  border-radius: 20px;
  padding: 7px;
  font-weight: 600;
  opacity: 0.8;
  justify-content: center;
  align-content: center;
}

.profile-item-2 {
  grid-area: 1/3/2/-1;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 12px;
}

.profile-item-2-title {
  color: #706897;
}

.profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
  background-color: white;
  height: 450px;
  box-shadow: 0px 1px 5px #555;
  border-radius: 20px;
  overflow-y: scroll;
  opacity: 0.7;
  justify-content: center;
  padding: 5px;
}

.user-card-img {
  height: 200px;
  width: 180px;
  border-radius: 20px;
  margin-top: 15px;
  /* margin: 10px -17px; */
  object-fit: cover;
  padding: 0px;
  justify-content: center;
}
.user-card-img img {
  height: 170px;
  width: 170px;
  border-radius: 20px;
  object-fit: cover;
}

.user-card-img  img:hover{
  width: 130%;
}

.image-container img:hover .image-container{
  height: 200px;
}

.user-card-info {
  overflow-y: scroll;
  margin-top: 0px;
}

.profile-info {
  color: #655b94;
}

.profile-info img {
  width: 200px;
  border-radius: 20px;
}

.profile-btn {
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-weight: 600;
  margin: 5px;
  padding: 5px;
  font-size: 11pt;
  color: white;
  background-color: #706897;
  cursor: pointer;
  opacity: 0.8;
}

.profile-form {
  width: 190px;
  padding: 2rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 75%;
  background-color: #706897;
  color: white;
  border-radius: 20px;
}

.profile-box{
  border: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 2px;
  padding-left: 10px;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 5px;
  font-size: 11pt;
  background: transparent;
  transition: 1s;
  color: white;
  outline: none;
}

input.profile-box {
  color: white;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.my-profile h1{
color:white;
}

.my-profile label{
  color: white;
}

.update-btn{
  width:50%;
  border: 1px solid lightgrey;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-weight: 600;
  margin: 5px;
  font-size: 11pt;
  background-color: #706897;
  cursor: pointer;
  transition: 1s;
  color: white;
  outline: none;
}

.update-btn:hover{
  transform: scale(1.03);
  letter-spacing: 2px;
}

.profile-item-3 {
  grid-area: 2/2/-1/3;
  display: flex;
  flex-direction: column;
  /* justify-items: center; */
  /* justify-self: center; */
}

.liked-cocktails {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.profile-item-3-tilte {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #706897;
  background-color: #E7D9EA;
  /* width: 150px; */
  border-radius: 20px;
  padding: 7px;
  font-weight: 600;
  backdrop-filter: blur(4px);
  opacity: 0.8;
}

.liked-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em; */
  /* grid-area: 3/2/-2/-2; */
  align-items: center;
}

/* .liked-card {
  width: 300px;
} */

.profile-item-4 {
  grid-area: 1/1/2/2;
}

.profile-item-4-tilte {
 
  justify-content: center;
  color: white;
  /* background-color: #E7D9EA; */
  border-radius: 20px;
  padding: 7px;
  font-weight: 600;
  /* opacity: 0.5; */
}

.following {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.following-card {
  display: flex;
  justify-content: space-evenly;
}

.profile-item-5 {
  grid-area: 1/2/2/3;
}

.profile-item-5-tilte {

  justify-content: center;
  color: #706897;
  /* background-color: #E7D9EA; */
  border-radius: 20px;
  padding: 7px;
  font-weight: 600;
  /* opacity: 0.5; */
}

.followed-card {
  display: flex;
  justify-content: space-evenly;
}

.photo-container{
  /* height: 400px;
  width:100%; */
  display: grid;
  grid-template-columns: 90% 10%;
  /* align-items: center; */
} 


.flight-button.more{
  place-self: center;
  font-size: 15pt;
  width: 30px;
}

.review-container{
  /* height: 200px;
  width: 600px; */
  display: grid;
  grid-template: 1fr/auto auto;
  /* grid-row-gap: 0px; */
}

.review-carousel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-gap: 0px; */
}


.review-card {
  display: grid;
  grid-template-columns: 100px 150px 100px;
  grid-gap: 1em;
  width: 500px;
  height: 200px;
  background-color: white;
  box-shadow: 0px 1px 5px #555;
  border-radius: 20px;
  overflow-y: scroll;
  /* overflow: hidden; */
  padding: 20px;
  align-items: center;
}


.review-card h3 span {
  margin: 5px 0;
  margin-top: 10px;
}

.review-card img {
  margin: 5px 15px;
  /* margin-top: 5px; */
  width: 70px;
  height: 70px;
}

.review-card p{
  width: 500px;
  height: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 15px;
  margin-left: 5px;
  overflow-y: scroll;
}

.review-button.more{
  font-size: 20pt;
  width: 30px;
  align-self: center;
}

